.foot{
    font-size : 12px;
    line-height : 1.3;
    position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: red;
   color: white;
   text-align: center;
   margin: 20;
   padding: 20;

}