#mortgage-form {
    flex: 1;
}

#mortgage-form table {
    border: none !important;
}
#mortgage-form table tr > td:first-child {
    width: 170px !important;
}
#mortgage-form table tr td {
    font-size: 13px;
    border: 1px solid #eee;
}
#mortgage-form table tr > td:first-child {
    padding: 0 10px;
}

#mortgage-form input[type="text"] {
    width: 90%;
    border-width: 1px;
    border-color: #eeeeee;
    padding: 5px 10px;
    font-size: 13px;
}