#desktop {
  display: flex;
  justify-content: center;
}
#desktop a {
  color: #008D83;
  font-size: 15px;
  padding: 0 10px;
  text-decoration: none;
}


#mobile {
  position: fixed;
  display: none;
  left: 0;
  right: 0;
  top: 0;
  z-index: 999;
  background-color: #fff;
}
#mobile .menu {
  position: fixed;
  top: 47px;
  background-color: #008D83;
  display: block;
  z-index: 999;
  left: 0;
  right: 0;
  display: none;
}
#mobile .menu div,
#mobile .menu a {
  color: #fff !important;
}
#mobile .menu a {
  cursor: pointer;
}
#mobile .menu > ul {
  margin: 0;
  padding: 0;
}
#mobile .menu > ul > li {
  border-bottom: 1px solid #047971;
  padding: 10px 20px;
  text-align: center;
  list-style: none;
}
#mobile .menu > ul > li button {
  color: #fff;
  font-size: 15px;
  padding: 0 10px;
  text-decoration: none;
  background-color: transparent;
  border-width: 0;
  cursor: pointer;
}
#mobile .menu > ul > li > div {
  font-weight: 600;
}
#mobile .menu > ul > li > ul {
  padding: 0;
  margin: 0;
}
#mobile .menu > ul > li > ul li {
  list-style: none;
}

@media only screen and (max-width: 600px) {
    #desktop {
      display: none;
    }
    #mobile {
      display: block;
    }
}